* {
  box-sizing: border-box; }

/*Create new mixin with custom properties*/
/*---Buttons prop--*/
button,
.btn-blue {
  background-color: #13A4E9;
  border: 1px solid #13A4E9;
  border-radius: 5px;
  font: 15px/1 Verdana, Geneva, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  margin: 5px 0;
  padding: 10px 25px;
  outline: 0;
  opacity: 1;
  transition: background-color 0.5s ease; }
  button:hover,
  .btn-blue:hover {
    background-color: #fff;
    color: #13A4E9; }
  button:active,
  .btn-blue:active {
    opacity: 0.5;
    transition: opacity 0.5s ease; }
  button:disabled, button[disabled], button.disabled,
  .btn-blue:disabled,
  .btn-blue[disabled],
  .btn-blue.disabled {
    background-color: #13A4E9;
    opacity: 0.3;
    cursor: initial;
    color: #fff; }

.btn-green {
  background-color: #70B837;
  border: 1px solid #70B837;
  border-radius: 5px;
  font: 15px/1 Verdana, Geneva, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  margin: 5px 0;
  padding: 10px 25px;
  outline: 0;
  opacity: 1;
  transition: background-color 0.5s ease; }
  .btn-green:hover {
    background-color: #fff;
    color: #70B837; }
  .btn-green:active {
    opacity: 0.5;
    transition: opacity 0.5s ease; }
  .btn-green:disabled, .btn-green[disabled], .btn-green.disabled {
    background-color: #70B837;
    opacity: 0.3;
    cursor: initial;
    color: #fff; }

.btn-white {
  background-color: #CCC;
  border: 1px solid #CCC;
  border-radius: 5px;
  font: 15px/1 Verdana, Geneva, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #4D4D4D;
  margin: 5px 0;
  padding: 10px 25px;
  outline: 0;
  opacity: 1;
  transition: background-color 0.5s ease;
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #F5F5F5 100%); }
  .btn-white:hover {
    background-color: #4D4D4D;
    color: #CCC; }
  .btn-white:active {
    opacity: 0.5;
    transition: opacity 0.5s ease; }
  .btn-white:disabled, .btn-white[disabled], .btn-white.disabled {
    background-color: #CCC;
    opacity: 0.3;
    cursor: initial;
    color: #4D4D4D; }
  .btn-white:hover {
    background: #F5F5F5;
    background: linear-gradient(to bottom, #F5F5F5 0%, #fff 100%); }
  .btn-white:hover {
    background: #F5F5F5;
    background: linear-gradient(to bottom, #F5F5F5 0%, #fff 100%); }
    .btn-white:hover:hover {
      background: #fff;
      background: linear-gradient(to bottom, #fff 0%, #F5F5F5 100%); }

.btn-orange {
  background-color: #E59800;
  border: 1px solid #E59800;
  border-radius: 5px;
  font: 15px/1 Verdana, Geneva, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  margin: 5px 0;
  padding: 10px 25px;
  outline: 0;
  opacity: 1;
  transition: background-color 0.5s ease; }
  .btn-orange:hover {
    background-color: #fff;
    color: #E59800; }
  .btn-orange:active {
    opacity: 0.5;
    transition: opacity 0.5s ease; }
  .btn-orange:disabled, .btn-orange[disabled], .btn-orange.disabled {
    background-color: #E59800;
    opacity: 0.3;
    cursor: initial;
    color: #fff; }

.btn-full {
  display: block;
  width: 100%; }

/*---Buttons--*/
/*--Buttons sizes--*/
.btn-small {
  font: 10px/1 Verdana, Geneva, sans-serif;
  min-width: 100px;
  padding: 5px 10px; }

.btn-medium {
  min-width: 150px; }

.btn-big {
  font: 18px/1 Verdana, Geneva, sans-serif;
  min-width: 200px;
  padding: 15px 30px; }

/*--End Buttons sizes--*/
/*--Table--*/
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font: 18px Verdana, Geneva, sans-serif; }
  table th {
    background: #eee;
    font-weight: 400; }
  table td, table th {
    padding: 5px;
    border: 1px solid #ccc;
    vertical-align: text-top; }
  table td {
    line-height: 10px; }

/*--End Table--*/
.note {
  font: 20px/2 Verdana, Geneva, sans-serif; }

code {
  font: 18px/1 Verdana, Geneva, sans-serif;
  color: #999;
  display: block; }
