$font: Verdana, Geneva, sans-serif;

* {
    box-sizing: border-box;
}

@mixin transition($prop: all, $dur: 0.3s, $func: ease) {
    -webkit-transition: $prop $dur $func;
    -moz-transition: $prop $dur $func;
    -ms-transition: $prop $dur $func;
    transition: $prop $dur $func;
}

@mixin button($btn-col, $text) {
    background-color: $btn-col;
    border: 1px solid $btn-col;
    border-radius: 5px;
    font: 15px/1 $font;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: $text;
    margin: 5px 0;
    padding: 10px 25px;
    outline: 0;
    opacity: 1;
    
    @include transition(background-color, 0.5s);
    &:hover {
        background-color: $text;
        color: $btn-col;
    }
    &:active {
        opacity: 0.5;
        @include transition(opacity, 0.5s);
    }
    &:disabled, &[disabled], &.disabled {
        background-color: $btn-col;
        opacity: 0.3;
        cursor: initial;
        color: $text;
    }
}

@mixin gradient($top, $bottom){
    background: $top;
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
    &:hover {
        background: $bottom;
        background: -moz-linear-gradient(top,  $bottom 0%, $top 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bottom), color-stop(100%,$top));
        background: -webkit-linear-gradient(top,  $bottom 0%,$top 100%);
        background: -o-linear-gradient(top,  $bottom 0%,$top 100%);
        background: -ms-linear-gradient(top,  $bottom 0%,$top 100%);
        background: linear-gradient(to bottom,  $bottom 0%,$top 100%);
    }
}

@mixin button-blue {
    @include button(#13A4E9, #fff);
}

@mixin button-green {
    @include button(#70B837, #fff);
}

@mixin button-orange {
    @include button(#E59800, #fff);
}

@mixin button-white {
    @include button(#CCC, #4D4D4D);
    @include gradient(#fff, #F5F5F5);
    &:hover {
        @include gradient(#F5F5F5, #fff);
    }
}
/*Create new mixin with custom properties*/

/*---Buttons prop--*/

button,
.btn-blue {
    @include button-blue;
}

.btn-green {
    @include button-green;
}

.btn-white {
    @include button-white;
}
.btn-orange {
    @include button-orange;
}

.btn-full {
    display: block;
    width: 100%;
}

/*---Buttons--*/

/*--Buttons sizes--*/

.btn-small {
    font: 10px/1 $font;
    min-width: 100px;
    padding: 5px 10px;
}

.btn-medium {
    min-width: 150px;
}

.btn-big {
    font: 18px/1 $font;
    min-width: 200px;
    padding: 15px 30px;
}

/*--End Buttons sizes--*/

/*--Table--*/

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font: 18px $font;
    th {
        background: #eee;
        font-weight: 400;
    }
    td, th {
        padding: 5px;
        border: 1px solid #ccc;
        vertical-align: text-top;
    }
    td {
        line-height: 10px;
    }
}

/*--End Table--*/

.note {
    font: 20px/2 $font;
}
code {
    font: 18px/1 $font;
    color: #999;
    display: block;
}